/* CSS for Noche Dia Coffee */

* {
    font-family: 'Roboto', Helvetica, sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    height: 100%; width: 100%;
    margin: 0;
}

/* CSS for Top of the Page and Navigation */
.title {
    background-color: #589d62;
    color: white;
    padding: 1rem;
    border-bottom: 2px solid rgb(61, 61, 61);
    z-index: 1;
}
.titleName {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.tagline {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    font-size: 300%;
    color: rgb(72, 72, 72);
    font-weight: normal;
}

.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.spaceBetween {
    justify-content: space-between;
}
.alignCenter {
    align-items: center;
}
.navAnchor {
    color: white;
    text-decoration: none;
    padding: .8rem 1.5rem .8rem 1.5rem;
    margin: 0;
}
.navAnchor:hover {
    text-decoration: underline;
}
.marginRight1 {
    margin-right: 3%;
}
.marginLeft1 {
    margin-left: 3%;
}
.textCenter {
    text-align: center;
}
.slide img {
    width: 70%;
    height: auto;
}
.width1 {
    max-width: 600px;
    min-width: 200px;
}
.width2 {
    min-width: 300px;
}
.marginTop1 {
    margin-top: 3rem;
}
.margin1 {
    margin: 2rem;
}
.margin2 {
    margin: 1rem 2rem 2rem 2rem;
}
.padding1 {
    padding: 2rem;
}
.paddingTop1 {
    padding-top: 2rem;
}
.introBG {
    background-color: rgb(224, 227, 229);
    margin-top: 2rem;
    position: relative;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.spaceAround {
    justify-content: space-around;
}
.spaceCenter {
    justify-content: center;
}
.button1 {
    width: 7rem;
    background-color: rgb(184, 18, 18);
    color: white;
    padding: .5rem;
    border-radius: 2px;
    font-weight: bolder;
    font-size: large;
    margin: 16px 6px 0px 6px;
}
.button1:hover {
    background-color: white;
    color: rgb(184, 18, 18);
    transition: .3s;
}
.menuItem {
    width: 10rem;
    text-align: center;
}
.menuItem img {
    border-radius: 50%;
    width: 100%;
}
#menu {
    margin: 0;
    padding-top: 1.5rem;
}



/* Mobile Navigation */
.dropDownContainer {
    display: none;
    position: relative;
}
.dropbtn {
    font-size: 180%;
    color: white;
    text-decoration: none;
    padding: 1.5rem;
}
.dropDownContent {
    position: fixed;
    height: 20rem;
    width: 0%;
    z-index: 1;
    right: 0;
    top: 1;
    background-color: white;
    padding-top: 3rem;
    transition: 0.5s;
    border-top: 1px solid black;
    /* border-left: 1px solid black; */
    border-bottom: 1px solid black;
    border-radius: 1rem 0 0 1rem;
}
.dropDownContent a {
    display: block; 
    font-size: 180%; 
    color: black;
    text-decoration: none;
    padding: 1rem 1rem 1rem 2rem;
}
.dropDownContent a:hover {
    background-color: rgb(233, 233, 233);
    transition: 0.5s;
}
.show {
    width: 50%;
    border-left: 1px solid black;
}

    
/* Media Queries */
@media (max-width: 875px) {
    .intro-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
@media (max-width: 750px) {
    .drinkContainer {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (max-width: 750px) {
    .standardNav {
        display: none;
    }
    .dropDownContainer {
        display: block;
    }  
}







.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
  border: 13px solid black;
  box-shadow: 5px 5px 9px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}